body{
    background-color: beige;
}

h1{
    color: rgb(98, 72, 72);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    background-color: rgb(0, 0, 0)
}

h2{
    background-color:aliceblue;
}

.cookies{
    background-color:antiquewhite
}

img{
    display:block;
}